*~
FigAndAlgos/*-fig:*.tex
FigAndAlgos/*-algo:*.tex
FigAndAlgos/*.png
_build/*
_build/.doctrees/*
*/*.md
*.idx
*.ilg
*.ind
*.kaux
*.toc
*.tdo
*.blg
*.bbl
*.thm
*.xwm
*.aux
*.diagnose
11_standalone.pdf
11_Counters/main.pdf

